<h1>Posts</h1>

<div class="new_post">
  <%= form_for(@post) do |f| %>
    <div class="input required">
      <%= f.text_area :message %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<% @posts.each do |post| %>
  <div class="post">
    <div class="meta"><%= post.user.email %></div>
    <p><%= post.message %></p>
    <p>
      <% if current_user.liked?(post) %>
        <%= link_to "Unlike", post_like_path([post, post.like_from(current_user)]), method: :delete %>
      <% else %>
        <%= link_to "Like", post_likes_path(post), method: :post %>
      <% end %>
    </p>
  </div>
<% end %>
